{% load static %}

<nav class="bg-white py-4 min-h-[56px] border-b border-atb-g-200 w-full md:hidden">

    <div class="flex items-center px-4">
      <!-- Logo (left) -->
      <img class="w-16" src="{% static 'assets/icons/Atb39logo.jpg' %}" alt="ATB Logo">

      <!-- Growing button (right side, large click area) -->
      <button onclick="humberg()" 
              class="flex-grow flex justify-end items-center pr-4 py-2 text-atb-g-600 focus:outline-none border rounded-md">
        <img src="{% static 'assets/icons/menu.svg' %}" alt="Menu Icon" class="w-6 h-6">
      </button>
    </div>


  <ul id="myLinks" class="hidden flex flex-col gap-6 px-4 mt-4 text-atb-g-600 font-primary text-lg font-semibold">
    {% if request.user.is_authenticated and not request.user.is_superuser %}
      {% include 'nav-items/user.html' %}
    {% endif %}
    {% if request.user.is_superuser %}
      {% include 'nav-items/admin.html' %}
    {% endif %}
    {% if request.user.is_authenticated %}
      <li class="hover:text-[#a60000]">
        <a href="/accounts/log_out/">Logout</a>
      </li>
    {% else %}
      {% include 'nav-items/guest.html' %}
    {% endif %}
  </ul>
</nav>


<nav class="bg-white py-4 min-h-[56px] border-b border-atb-g-200 w-full hidden md:block">
  <ul class="flex justify-between items-center px-4 md:px-12 lg:px-32 space-x-6 font-primary text-[16px] sm:text-[16px] md:text-[18px] font-semibold">
    <!-- Left side -->
    <div class="flex items-center text-atb-g-600 gap-8">
      <img class="w-16" src="{% static 'assets/icons/Atb39logo.jpg' %}" alt="ATB Logo">

      {% if request.user.is_authenticated and not request.user.is_superuser %}
        {% include 'nav-items/user.html' %}
      {% endif %}

      {% if request.user.is_superuser %}
        {% include 'nav-items/admin.html' %}
      {% endif %}
    </div>

    <!-- Right side -->
    <div class="flex items-center text-atb-g-600 gap-8">
      {% if request.user.is_authenticated %}
        <li class="hover:text-[#a60000]">
          <a href="/accounts/log_out/">Logout</a>
        </li>
      {% else %}
        {% include 'nav-items/guest.html' %}
      {% endif %}
    </div>
  </ul>
</nav>

