{% extends "base.html" %}

{% block content %}
<div class="max-w-xl mx-auto mt-20 p-6 bg-white rounded-2xl shadow">
  <h2 class="text-2xl font-bold mb-4">Return Request Details</h2>

  <ul class="mb-6">
    <li class="text-atb-g-700"><strong class="text-atb-g-600">User:</strong> {{ request_obj.borrower.username }}</li>
    <li class="text-atb-g-700"><strong class="text-atb-g-600">Device:</strong> {{ request_obj.device.name }}</li>
    <li class="text-atb-g-700"><strong class="text-atb-g-600">Condition:</strong> {{ request_obj.condition }}</li>
    <li class="text-atb-g-700"><strong class="text-atb-g-600">Feedback:</strong> {{ request_obj.feedback }}</li>
    <li class="text-atb-g-700"><strong class="text-atb-g-600">Status:</strong>
      {% if request_obj.review == 'approved' %}
        <span class="text-atb-s-500">Approved</span>
        {% elif request_obj.review == 'pending' %}
        <span class="text-atb-w-500">Pending</span>
        {% else %}
        <span class="text-atb-e-500">Rejected</span>
        {% endif %}
    </li>
  </ul>

  <form method="post">
    {% csrf_token %}
    {% if request_obj.review == 'pending' %}
      <button name="approve" type="submit" class="bg-atb-s-500 hover:bg-atb-s-400 text-white px-4 py-2 rounded mr-4">
        Approve
      </button>
      <button name="reject" type="submit" class="bg-atb-e-500 hover:bg-atb-e-400 text-white px-4 py-2 rounded">
        Reject
      </button>
    {% else %}
        {% if request_obj.review == 'approved' %}
        <p class="text-sm text-atb-g-700">This request has already been approved.</p>
        {% else %}
        <p class="text-sm text-atb-g-700">This request has already been rejected.</p>
        {% endif %}
    {% endif %}
  </form>
</div>
{% endblock %}
