<li class="hover:text-[#a60000]  pr-6">
    <a href="{% url 'dashboard' %}">Dashboard</a>
</li>
<li class="hover:text-[#a60000]  pr-6">
    <a href="/admin/">Admin</a>
</li>

<li class="hover:text-[#a60000]  pr-6">
    <a href="{% url 'requests:request-list' %}">Request History
    {% if unseen_borrows or unseen_returns %}
        <span>
            ({{ unseen_borrows|add:unseen_returns }})
        </span>
    {% endif %}
    </a>
</li>
<li class="hover:text-[#a60000]  pr-6">
    <a href="/admin/">Notifications</a>
</li>
