{% extends "base.html" %}

{% block content %}
{% load static %}
<div class="min-h-screen flex items-start justify-center md:mt-40 mt-20 px-4 sm:px-0 font-primary">
<div class="bg-white border border-white rounded-[12px] p-12 w-full max-w-lg">
    <h2 class="text-[24px] sm:text-[30px] text-atb-g-900 font-semibold text-center mb-4">Change Password</h2>

    <form method="post" action="{% url 'accounts:password' %}">
        {% csrf_token %}

        <label for="id_old_password" class="block text-atb-g-700 mb-3">Current Password</label>
        <input type="password" name="old_password" id="id_old_password" placeholder="Enter current password"
            class="w-full p-2 mb-4 rounded-[8px] bg-white text-[16px] text-atb-g-500 border border-atb-g-300 placeholder-atb-g-500 
            hover:text-atb-g-900 focus:text-atb-g-900 focus:ring-atb-p-200 focus:border-atb-p-200 focus:outline-none 
            focus:shadow-[0_0_0_4px_#FDE3E6] transition duration-200">

        <label for="id_new_password1" class="block text-atb-g-700 mb-3">New Password</label>
        <input type="password" name="new_password1" id="id_new_password1" placeholder="Enter new password"
            class="w-full p-2 mb-4 rounded-[8px] bg-white text-[16px] text-atb-g-500 border border-atb-g-300 placeholder-atb-g-500 
            hover:text-atb-g-900 focus:text-atb-g-900 focus:ring-atb-p-200 focus:border-atb-p-200 focus:outline-none 
            focus:shadow-[0_0_0_4px_#FDE3E6] transition duration-200">

        <label for="id_new_password2" class="block text-atb-g-700 mb-3">Confirm New Password</label>
        <input type="password" name="new_password2" id="id_new_password2" placeholder="Confirm new password"
            class="w-full p-2 mb-4 rounded-[8px] bg-white text-[16px] text-atb-g-500 border border-atb-g-300 placeholder-atb-g-500 
            hover:text-atb-g-900 focus:text-atb-g-900 focus:ring-atb-p-200 focus:border-atb-p-200 focus:outline-none 
            focus:shadow-[0_0_0_4px_#FDE3E6] transition duration-200">

        {% if form.errors %}
        <ul class="text-red-500 text-sm mb-4 list-disc pl-5">
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <input type="hidden" name="next" value="{{ next }}">
        <br>
        <input type="submit" value="Change Password"
            class="bg-atb-p-600 rounded-[8px] font-semibold text-white text-[18px] py-2 px-8 hover:bg-atb-p-700 
            focus:bg-atb-p-600 focus:ring-atb-p-200 focus:outline-none 
            focus:shadow-[0_0_0_4px_#FDE3E6] transition duration-200 cursor-pointer">
    </form>
</div>
</div>
{% endblock %}

