{% extends "base.html" %}

{% block content %}

<div class="min-h-screen flex flex-col bg-atb-g-50 text-left py-24 px-4 md:px-12 lg:px-32  font-primary">

    <div class="flex flex-col gap-2">
        <h2 class="text-[30px]  font-[600] text-atb-g-900 font-primary">Profile</h2>
        <p class="text-[16px] text-atb-g-600">View your personal info, borrow requests, return requests and  devices.</p>
    </div>

    <hr class="border-atb-g-200 mt-6">



    <div class="w-full flex flex-col items-start  md:flex-row p-4 md:p-6 gap-6 md:gap-8">

        

        <!-- Tabs -->
        <div class="flex flex-col flex-wrap  gap-4 p-4 sm:p-6 md:p-6 lg:p-12 bg-white border border-white rounded-[12px] w-full md:w-1/3">
            <button id="user-tab"
                class="tab-button px-12 py-2 text-[18px] font-semibold rounded-[8px] transition-colors duration-200 border-[1px] border-atb-g-300 bg-white text-atb-g-700 shadow-[0px_1px_2px_0px_#1018280D]
           hover:bg-atb-g-50 hover:text-atb-g-800 
           focus:bg-white focus:text-atb-g-700 focus:shadow-[0_0_0_4px_#F2F4F7]
           disabled:bg-atb-g-50 disabled:text-atb-g-300 disabled:border-atb-g-200 disabled:opacity-70"
                onclick="showTab('user')" disabled>
                Personal Info
            </button>
            <button id="borrow-tab"
                class="tab-button px-12 py-2 text-[18px] font-semibold rounded-[8px] transition-colors duration-200 border-[1px] border-atb-g-300 bg-white text-atb-g-700 shadow-[0px_1px_2px_0px_#1018280D]
           hover:bg-atb-g-50 hover:text-atb-g-800 
           focus:bg-white focus:text-atb-g-700 focus:shadow-[0_0_0_4px_#F2F4F7]
           disabled:bg-atb-g-50 disabled:text-atb-g-300 disabled:border-atb-g-200 disabled:opacity-70"
                onclick="showTab('borrow')">
                Borrows
            </button>
            <button id="device-tab"
                class="tab-button px-12 py-2 text-[18px] font-semibold rounded-[8px] transition-colors duration-200 border-[1px] border-atb-g-300 bg-white text-atb-g-700 shadow-[0px_1px_2px_0px_#1018280D]
           hover:bg-atb-g-50 hover:text-atb-g-800 
           focus:bg-white focus:text-atb-g-700 focus:shadow-[0_0_0_4px_#F2F4F7]
           disabled:bg-atb-g-50 disabled:text-atb-g-300 disabled:border-atb-g-200 disabled:opacity-70"
                onclick="showTab('device')">
                Devices
            </button>
            <button id="return-tab"
                class="tab-button px-12 py-2 text-[18px] font-semibold rounded-[8px] transition-colors duration-200 border-[1px] border-atb-g-300 bg-white text-atb-g-700 shadow-[0px_1px_2px_0px_#1018280D]
           hover:bg-atb-g-50 hover:text-atb-g-800 
           focus:bg-white focus:text-atb-g-700 focus:shadow-[0_0_0_4px_#F2F4F7]
           disabled:bg-atb-g-50 disabled:text-atb-g-300 disabled:border-atb-g-200 disabled:opacity-70"
                onclick="showTab('return')">
                Returns
            </button>

            <div id="device-filter" class="flex flex-col gap-2 hidden">
                {% include 'sort-filter/device_sort.html' %}
                {% include 'sort-filter/device_filter.html' %}
            </div>

            <div id="borrow-filter" class="flex flex-col gap-2 hidden">
                {% include 'sort-filter/borrow_sort.html' %}
                {% include 'sort-filter/borrow_filter.html' %}
            </div>

            <div id="return-filter" class="flex flex-col gap-2 hidden">
                {% include 'sort-filter/return_sort.html' %}
                {% include 'sort-filter/return_filter.html' %}
            </div> 

        </div>

        <!-- User Info -->
        <div id="user-section" class="tab-section w-full md:min-h-110 md:w-2/3 border border-white bg-white rounded-[12px] p-4 sm:p-6 md:p-12 ">
        <p>
            <span class="text-atb-g-700 font-semibold">Username:</span><br>
            <input type="text" value="{{ user.username }}"  id="username" name="username" class="w-2/3 p-2 mb-4 rounded-[8px] bg-white text-[16px] text-atb-g-500 border border-atb-g-300   focus:text-atb-g-900 focus:ring-atb-p-200 focus:border-atb-p-200 focus:outline-none focus:shadow-[0_0_0_4px_#FDE3E6] transition duration-200" disabled><br>
            <span class="text-atb-g-700 font-semibold">First name:</span><br>
            {% if user.first_name %}
            <input type="text" value="{{ user.first_name }}"  id="username" name="username" class="w-2/3 p-2 mb-4 rounded-[8px] bg-white text-[16px] text-atb-g-500 border border-atb-g-300   focus:text-atb-g-900 focus:ring-atb-p-200 focus:border-atb-p-200 focus:outline-none focus:shadow-[0_0_0_4px_#FDE3E6] transition duration-200" disabled><br>
            {% else %}
            <input type="text" value="Not Specified"  id="username" name="username" class="w-2/3 p-2 mb-4 rounded-[8px] bg-white text-[16px] text-atb-g-500 border border-atb-g-300   focus:text-atb-g-900 focus:ring-atb-p-200 focus:border-atb-p-200 focus:outline-none focus:shadow-[0_0_0_4px_#FDE3E6] transition duration-200" disabled><br>
            {% endif %}
            <span class="text-atb-g-700 font-semibold">Last name:</span><br>
            {% if user.last_name %}
            <input type="text" value="{{ user.last_name}}"  id="username" name="username" class="w-2/3 p-2 mb-4 rounded-[8px] bg-white text-[16px] text-atb-g-500 border border-atb-g-300   focus:text-atb-g-900 focus:ring-atb-p-200 focus:border-atb-p-200 focus:outline-none focus:shadow-[0_0_0_4px_#FDE3E6] transition duration-200" disabled><br>
            {% else %}
            <input type="text" value="Not Specified"  id="username" name="username" class="w-2/3 p-2 mb-4 rounded-[8px] bg-white text-[16px] text-atb-g-500 border border-atb-g-300   focus:text-atb-g-900 focus:ring-atb-p-200 focus:border-atb-p-200 focus:outline-none focus:shadow-[0_0_0_4px_#FDE3E6] transition duration-200" disabled><br>
            {% endif %}
            <span class="text-atb-g-700 font-semibold">E-mail:</span><br>
            {% if user.email %}
            <input type="text" value="{{ user.email }}"  id="username" name="username" class="w-2/3 p-2 mb-4 rounded-[8px] bg-white text-[16px] text-atb-g-500 border border-atb-g-300   focus:text-atb-g-900 focus:ring-atb-p-200 focus:border-atb-p-200 focus:outline-none focus:shadow-[0_0_0_4px_#FDE3E6] transition duration-200" disabled><br>
            {% else %}
            <input type="text" value="Not Specified"  id="username" name="username" class="w-2/3 p-2 mb-4 rounded-[8px] bg-white text-[16px] text-atb-g-500 border border-atb-g-300   focus:text-atb-g-900 focus:ring-atb-p-200 focus:border-atb-p-200 focus:outline-none focus:shadow-[0_0_0_4px_#FDE3E6] transition duration-200" disabled><br>
            {% endif %}
        </p>
        <br>
        <a href="{% url 'accounts:password' %}"
           class="w-full sm:w-fit text-center whitespace-nowrap 
                px-4 sm:px-6 py-2  bg-atb-p-600 rounded-[8px] font-semibold text-white text-[18px] py-2 px-8 hover:bg-atb-p-700 focus:bg-atb-p-600 focus:ring-atb-p-200 focus:outline-none focus:shadow-[0_0_0_4px_#FDE3E6] transition duration-200 cursor-pointer"
                    hx-get="{% url 'accounts:password' %}" 
                    hx-target="#main-content" 
                    hx-swap="innerHTML" 
                    hx-push-url="true"
                >
            Change Password
        </a>
        </div>



        <!-- Borrow Section -->
        <div id="borrow-section" class="tab-section md:w-2/3 md:min-h-110 border border-white bg-white rounded-[12px] p-4 sm:p-6 md:p-12 hidden">
            <h3 class="text-2xl font-semibold mb-4">Your Borrow Request History:</h3>
            <div class="flex flex-col space-y-4">
            {% for req in borrows %}
            <a href="#" class="block bg-atb-g-50 rounded-[12px] p-8 flex flex-row items-center gap-8 card"
                    data-review='{{ req.review }}' 
                    data-request-type='borrow'
                    data-device-type='{{ req.device.type }}'
                    data-name='{{ req|lower }}'
                    data-bd='{{ req.date_requested|date:"Y-m-d" }}'
                    data-rd='{{ req.return_date|date:"Y-m-d" }}'
                    >
                <div class="flex flex-row gap-4 w-full items-center ">
                    <div class="flex justify-start mt-2 ">
                        {% if req.review == 'approved' %}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-16 text-atb-s-500">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    {% elif req.review == 'pending' %}

                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-16 text-atb-w-500">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    {% else %}

                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-16 text-atb-e-500">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    {% endif %}
                    </div>
                    <div class="text-left">
                    <h3 class="text-xl font-semibold text-[#334155]">{{ req }}</h3>
                    <p class="text-[#475569]">Requested at {{ req.date_requested }} &bull; Returning on {{ req.return_date }}</p>
                    </div>
                </div>
            </a>
            {% empty %}
            <p class="text-atb-g-500">You haven't requested any borrows yet.</p>
            {% endfor %}
            </div>
        </div>



        <!-- Device Section -->
        <div id="device-section" class="tab-section w-full md:min-h-110 md:w-2/3 border border-white bg-white rounded-[12px] p-4 sm:p-6 md:p-12 hidden">
            <h3 class="text-2xl font-semibold mb-4">Your borrowed devices:</h3>
            <div class="flex flex-col space-y-4">
            {% for instance in approves %}
            <a href="{% url 'devices:device-detail' instance.device.id %}" 
                class="block bg-atb-g-50 rounded-[12px] p-8 hover:bg-atb-g-200
                focus:border-none focus:ring-0 focus:shadow-[0_0_0_4px_#F2F4F7]
                transition duration-300 device-card card"
                data-device-type="{{ instance.device.type }}"
                data-request-type="device"
                data-name="{{ instance.device.name|lower }}" 
                data-id="{{ instance.device.id }}"

                hx-get="{% url 'devices:device-detail' instance.device.id %}" 
                hx-target="#main-content" 
                hx-swap="innerHTML" 
                hx-push-url="true"
                >
                <h3 class="text-xl font-semibold text-[#334155]">{{ instance.device.name }}</h3>
                <p class="text-[#475569]">
                    {{ instance.device.type }}<br> Borrowed on {{ instance.date_requested }} &bull; Return by {{ instance.return_date }}
                </p>
            </a>
            {% empty %}
            <p class="text-atb-g-500">You don't have any devices yet.</p>
            {% endfor %}
            </div>
        </div>



        <!-- Return Section -->
        <div id="return-section" class="tab-section w-full md:min-h-110 md:w-2/3 border border-white bg-white rounded-[12px] p-4 sm:p-6 md:p-12 hidden">
            <h3 class="text-2xl font-semibold mb-4">Your Return Request History:</h3> 
            <div class="flex flex-col space-y-4">
            {% for req in returns %}
            <a href="#" class="block bg-atb-g-50 rounded-[12px] p-8 flex flex-row items-center gap-8 card"
                             data-name="{{ instance|lower }}"
                             data-review="{{ req.review }}"
                             data-request-type="return"
                             data-condition="{{ req.condition }}"
                             data-device-type="{{ req.device.type }}">
                <div class="flex flex-row gap-4 w-full items-center ">
                    <div class="flex justify-start mt-2 ">
                        {% if req.review == 'approved' %}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-16 text-atb-s-500">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    {% elif req.review == 'pending' %}

                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-16 text-atb-w-500">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    {% else %}

                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-16 text-atb-e-500">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    {% endif %}
                    </div>
                    <div>
                    <h3 class="text-xl font-semibold text-[#334155]">{{ req }}</h3>
                    <p class="text-[#475569]">Condition : {{ req.condition }} &bull; Feedback : {{ req.feedback|slice:":20" }}</p>
                    </div>
                </div>
            </a>
            {% empty %}
            <p class="text-atb-g-500">You haven't requested any returns yet.</p>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{{ breviews|json_script:"b-request-review" }}
{{ rreviews|json_script:"r-request-review" }}
{{ btypes|json_script:"b-request-type" }}
{{ rtypes|json_script:"r-request-type" }}
{{ types|json_script:"device-type" }}
{{ status|json_script:"device-status" }}
{{ conditions|json_script:"r-request-condition" }}


<script type="module">
const RequestManager = (function() {
    //private state
    const state = {
        rRequestCondition: [],
        rRequestReview: [],
        bRequestReview: [],
        bRequestType: [],
        rRequestType: [],
        deviceType: [],
        activeBRRFilters: new Set(),
        activeRRRFilters: new Set(),
        activeBTFilters: new Set(),
        activeRTFilters: new Set(),
        activeDTFilters: new Set(),
        activeConditionFilters: new Set(),
        currentSortDirection: 'desc',
        currentSortField: 'name',
        currentTab: 'borrow' 
    };

    //private method
    function updateConditionButtons() {
        state.rRequestCondition.forEach(condition => {
            const btn = document.getElementById(`${condition}-condition-tab`);
            if (!btn) return;
            if (state.activeConditionFilters.has(condition)) {
                btn.classList.remove('opacity-50','text-atb-g-700','bg-white','hover:bg-atb-g-50','hover:text-atb-g-800');
                btn.classList.add('text-white','bg-atb-p-500','hover:bg-atb-p-700','hover:text-white');
            } else {
                btn.classList.add('opacity-50','text-atb-g-700','bg-white','hover:bg-atb-g-50','hover:text-atb-g-800');
                btn.classList.remove('text-white','bg-atb-p-500','hover:bg-atb-p-700','hover:text-white');
            }
        });
    }

    function updateTypeButtons(prefix, types, activeSet) {
        types.forEach(type => {
            const btn = document.getElementById(`${prefix}-${type}-type-tab`);
            if (!btn) return;

            if (activeSet.has(type)) {
                btn.classList.remove('opacity-50','text-atb-g-700','bg-white','hover:bg-atb-g-50','hover:text-atb-g-800');
                btn.classList.add('text-white','bg-atb-p-500','hover:bg-atb-p-700','hover:text-white');
            } else {
                btn.classList.add('opacity-50','text-atb-g-700','bg-white','hover:bg-atb-g-50','hover:text-atb-g-800');
                btn.classList.remove('text-white','bg-atb-p-500','hover:bg-atb-p-700','hover:text-white');
            }
        });
    }

    function updateReviewButtons(prefix, reviews, activeSet) {
        reviews.forEach(review => {
            const btn = document.getElementById(`${prefix}-${review}-review-tab`);
            if (!btn) return;

            if (activeSet.has(review)) {
                btn.classList.remove('opacity-50','text-atb-g-700','bg-white','hover:bg-atb-g-50','hover:text-atb-g-800');
                btn.classList.add('text-white','bg-atb-p-500','hover:bg-atb-p-700','hover:text-white');
            } else {
                btn.classList.add('opacity-50','text-atb-g-700','bg-white','hover:bg-atb-g-50','hover:text-atb-g-800');
                btn.classList.remove('text-white','bg-atb-p-500','hover:bg-atb-p-700','hover:text-white');
            }
        });
    }

    function applyFilters() {
        const cards = document.querySelectorAll('.card');

        cards.forEach(card => {
            const review = card.getAttribute('data-review');
            const type = card.getAttribute('data-request-type');
            const condition = card.getAttribute('data-condition');
            const deviceType = card.getAttribute('data-device-type');

            let reviewMatch = true;
            let typeMatch = true;
            let conditionMatch = true;

            if (type === 'borrow') {
                if (state.activeBRRFilters.size > 0 && !state.activeBRRFilters.has(review)) reviewMatch = false;
                if (state.activeBTFilters.size > 0 && !state.activeBTFilters.has(deviceType)) typeMatch = false;
            } else if (type === 'return') {
                if (state.activeRRRFilters.size > 0 && !state.activeRRRFilters.has(review)) reviewMatch = false;
                if (state.activeRTFilters.size > 0 && !state.activeRTFilters.has(deviceType)) typeMatch = false;
                if (state.activeConditionFilters.size > 0 && !state.activeConditionFilters.has(condition)) conditionMatch = false;
            } else if (type === 'device') {
                if (state.activeDTFilters.size > 0 && !state.activeDTFilters.has(deviceType)) typeMatch = false;
            }

            if (reviewMatch && typeMatch && conditionMatch) {
                card.style.display = 'block';
            } else {
                card.style.display = 'none';
            }
        });
    }

    function sortCards(field, direction = 'asc') {
        console.log(state.currentTab);
        const container = document.querySelector(`#${state.currentTab}-section .space-y-4`);

        if (!container) return;

        const cards = Array.from(container.querySelectorAll('.card'));

        cards.sort((a, b) => {
            const aValue = (a.dataset[field] || '').trim().toLowerCase();
            const bValue = (b.dataset[field] || '').trim().toLowerCase();

            const comparison = aValue.localeCompare(bValue);
            return direction === 'asc' ? comparison : -comparison;
        });

        container.innerHTML = '';
        cards.forEach(card => container.appendChild(card));
    }


    //API
    return {
        toggleTypeFilter: function(type, prefix) {
            const activeFilterMap = {
                borrow: state.activeBTFilters,
                return: state.activeRTFilters,
                device: state.activeDTFilters,
            };

            const requestTypeMap = {
                borrow: state.bRequestType,
                return: state.rRequestType,
                device: state.deviceType,
            };

            const activeSet = activeFilterMap[prefix];
            const requestTypeList = requestTypeMap[prefix];
            const btnId = `${prefix}-${type}-type-tab`;
            const btn = document.getElementById(btnId);

            if (!btn || !activeSet || !requestTypeList) return;

            if (activeSet.has(type)) {
                activeSet.delete(type);
            } else {
                activeSet.add(type);
            }

            updateTypeButtons(prefix, requestTypeList, activeSet);
            applyFilters();
        },

        toggleReviewFilter: function(review, prefix) {
            const isBorrow = prefix === 'borrow';
            const activeSet = isBorrow ? state.activeBRRFilters : state.activeRRRFilters;
            const btnId = `${prefix}-${review}-review-tab`;
            const btn = document.getElementById(btnId);

            if (!btn) return;

            if (activeSet.has(review)) {
                activeSet.delete(review);
            } else {
                activeSet.add(review);
            }

            updateReviewButtons(prefix, isBorrow ? state.bRequestReview : state.rRequestReview, activeSet);
            applyFilters();
        },

        toggleConditionFilter: function(condition) {
            if (state.activeConditionFilters.has(condition)) {
                state.activeConditionFilters.delete(condition);
            } else {
                state.activeConditionFilters.add(condition);
            }
            updateConditionButtons();
            applyFilters();
        },

        resetFilters: function() {
            state.activeBRRFilters.clear();
            state.activeRRRFilters.clear();
            state.activeBTFilters.clear();
            state.activeRTFilters.clear();
            state.activeConditionFilters.clear();
            updateReviewButtons('borrow', state.bRequestReview, state.activeBRRFilters);
            updateReviewButtons('return', state.rRequestReview, state.activeRRRFilters);
            updateTypeButtons('borrow', state.bRequestType, state.activeBTFilters);
            updateTypeButtons('return', state.rRequestType, state.activeRTFilters);
            updateTypeButtons('device', state.deviceType, state.activeDTFilters);
            updateConditionButtons();
            applyFilters();
        },

        showTab: function(selectedTab) {
            state.currentTab = selectedTab;
            const tabs = ['user', 'borrow', 'device', 'return'];

            for (let i = 0; i < tabs.length; i++) {
                const tab = tabs[i];
                const btn = document.getElementById(tab + '-tab');
                const section = document.getElementById(tab + '-section');
                const filter = document.getElementById(tab + '-filter');

                if (tab === selectedTab) {
                    section.classList.remove('hidden');
                    if (filter) filter.classList.remove('hidden');
                    btn.disabled = true;
                } else {
                    section.classList.add('hidden');
                    if (filter) filter.classList.add('hidden');
                    btn.disabled = false;
                }
            }
        },

        toggleSorting: function(value) {
            const [field, direction] = value.split('-');
            if (field && direction) {
                state.currentSortField = field;
                state.currentSortDirection = direction;
                this.sortCards(field, direction);
            }
        },

        sortCards: sortCards,

        initializeDeviceFiltersAndSorting: function() {
            const rRequestReviewS = document.getElementById('r-request-review');
            const bRequestReviewS = document.getElementById('b-request-review');
            const bRequestTypeS = document.getElementById('b-request-type');
            const rRequestTypeS = document.getElementById('r-request-type');
            const deviceTypeS = document.getElementById('device-type');
            const rRequestConditionS = document.getElementById('r-request-condition');

            if (!rRequestReviewS || !bRequestReviewS || !bRequestTypeS || !rRequestTypeS || !deviceTypeS || !rRequestConditionS) {
                return;
            }

            state.rRequestReview = JSON.parse(rRequestReviewS.textContent);
            state.bRequestType = JSON.parse(bRequestTypeS.textContent);
            state.rRequestType = JSON.parse(rRequestTypeS.textContent);
            state.deviceType = JSON.parse(deviceTypeS.textContent);
            state.rRequestCondition = JSON.parse(rRequestConditionS.textContent);
            state.bRequestReview = JSON.parse(bRequestReviewS.textContent);

            this.resetFilters();
            applyFilters();
        },

        init: function() {
            document.addEventListener('DOMContentLoaded', () => {
                this.showTab('user');
                this.initializeDeviceFiltersAndSorting();
            });

            document.body.addEventListener('htmx:afterSettle', () => {
                this.initializeDeviceFiltersAndSorting();
            });
        }
    };
})();

// Initialize the RequestManager
RequestManager.init();

window.toggleTypeFilter = RequestManager.toggleTypeFilter.bind(RequestManager);
window.toggleReviewFilter = RequestManager.toggleReviewFilter.bind(RequestManager);
window.toggleConditionFilter = RequestManager.toggleConditionFilter.bind(RequestManager);
window.resetFilters = RequestManager.resetFilters.bind(RequestManager);
window.showTab = RequestManager.showTab.bind(RequestManager);
window.toggleSorting = RequestManager.toggleSorting.bind(RequestManager); 
</script>
{% endblock content %}

