@import "tailwindcss";
@import "@fontsource/inter/index.css";

@theme {
    /* font inter */
    --font-primary : "Inter", sans-serif;


    /* Primary */
    --color-atb-p-50:  #EECCD6;
    --color-atb-p-100: #E3AABB;
    --color-atb-p-200: #D58099;
    --color-atb-p-300: #D6BBFB;
    --color-atb-p-400: #B692F6;
    --color-atb-p-500: #AC0033;
    --color-atb-p-600: #8F002B;
    --color-atb-p-700: #730022;
  
    /* Gray */ 
    --color-atb-g-50:  #F9FAFB;
    --color-atb-g-100: #F2F4F7;
    --color-atb-g-200: #EAECF0;
    --color-atb-g-300: #D0D5DD;
    --color-atb-g-400: #98A2B3;
    --color-atb-g-500: #667085;
    --color-atb-g-600: #475467;
    --color-atb-g-700: #344054;
    --color-atb-g-800: #1D2939;
    --color-atb-g-900: #101828;

    /* Error */
    --color-atb-e-50:  #FEF3F2;
    --color-atb-e-100: #FEE4E2;
    --color-atb-e-200: #FECDCA;
    --color-atb-e-300: #FDA29B;
    --color-atb-e-400: #F97066;
    --color-atb-e-500: #F04438;

    /* Warning */
    --color-atb-w-50:  #FDB022;
    --color-atb-w-100: #FEF0C7;
    --color-atb-w-200: #FEDF89;
    --color-atb-w-300: #FEC84B;
    --color-atb-w-400: #FDB022;
    --color-atb-w-500: #F79009;

    /* Success */
    --color-atb-s-50:  #ECFDF3;
    --color-atb-s-100: #D1FADF;
    --color-atb-s-200: #A6F4C5;
    --color-atb-s-300: #6CE9A6;
    --color-atb-s-400: #32D583;
    --color-atb-s-500: #12B76A;
}
/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";
