{% load static %}
<div class="flex flex-row gap-4 justify-start items-center ">

    <h3 class="text-[18px]  font-[600] text-atb-g-900 font-primary">Sort by</h3>

    {% block sort_content %}{% endblock %}


    <button class="flex min-w-8 items-center justify-center p-1.5 rounded-[8px] transition-colors duration-200 border-[1px] border-atb-g-300 bg-white text-atb-g-700 shadow-[0px_1px_2px_0px_#1018280D]
        hover:bg-atb-g-50
        focus:ring-atb-p-200
        focus:bg-white focus:border-atb-p-200 focus:outline-none focus:shadow-[0_0_0_4px_#FDE3E6]
        disabled:bg-atb-g-50 disabled:text-atb-g-300 disabled:border-atb-g-200 disabled:opacity-70"
        onclick="toggleSorting(currentSortField, true)">
        <img id="sort-down" src="{% static 'assets/icons/sort-down.svg' %}" class="h-6 w-6" alt="Sort Down">
        <img id="sort-up" src="{% static 'assets/icons/sort-up.svg' %}" class="h-6 w-6 hidden" alt="Sort Up">
    </button>
</div>

