{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Device Manager</title>
        <link rel="stylesheet" href="{% static 'dist/styles.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		{% tailwind_css %}
    </head>
    <body class="bg-atb-g-50 min-h-screen w-full" >
        {% include 'nav-bar.html'%}
        
        <div class="fixed top-25 left-1/2 transform -translate-x-1/2 w-96 z-50" id="flash-messages">
          {% if messages %}
            {% for message in messages %}
              <div class="
                flash-message
                px-4 py-2 rounded shadow mb-2
                {% if message.tags == 'error' %}
                  bg-atb-e-100 text-atb-e-500 border border-atb-e-300
                {% elif message.tags == 'success' %}
                  bg-atb-s-100 text-atb-s-500 border border-atb-s-300
                {% elif message.tags == 'warning' %}
                  bg-atb-w-100 text-atb-w-500 border border-atb-w-300
                {% else %}
                  bg-atb-g-100 text-atb-g-500 border border-atb-g-300
                {% endif %}
              ">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        </div>
    
        {% block content %}

        {% endblock %}
        <script>
          setTimeout(() => {
            const container = document.getElementById('flash-messages');
            if (container) {
              container.style.display = 'none';
            }
          }, 3000);
        </script>
    </body>
</html>
